@import "../../scss/variables";

.goHomeBtn {
  text-decoration: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2000;

  @media screen and (min-width: $tablet-width) {
    left: 2rem;
    top: 2rem;
  }

  button {
    background-color: transparent;
    border: none;
    color: $white;
    cursor: pointer;
    font-weight: $bold-font;
    outline: none;
    padding: 5px;
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transition: all .5s;

    svg {
      display: inline-block;
      font-size: 1.5rem;
      transform: rotate(180deg);
    }

    &:hover {
      color: #ccc;
      transform: scale(1.01);
    }

    &:active {
      color: $main-color;
      transform: scale(.99);
    }
  }
}