* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    font-family: 'Raleway',
        sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;

}